*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 2.4rem;
    text-transform: capitalize;
    line-height: 1.4em;

}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* header */

header{
    width: 100%;
    /* height: 100vh; */
    font-family: initial;
    background-color: #ffffff;
}
header .Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
}
header .Logo>img{
    height: 100px;
    width: auto;
}
nav{
    display: flex;
    justify-content: center;
    padding: 1rem 7rem 1rem 7rem; 
    text-transform: capitalize;
    border: solid #cccccc81;
    border-width: 1px 0;
    background-color: #ecebeb3f;
}
nav ul{
    display: flex;


}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    padding: 0 2rem;
    color: rgb(49, 49, 49);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 14px;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.879), rgba(1, 71, 38, 0.8)), url("images/young-man-studying-university-library.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 90vh;
    align-content: center;
    /* font-family: sans-serif; */
    
}
.header-content{
    padding: 0rem 0 5rem 5rem;
    width: 60%;
    

}
.header-content>h2{
    /* font-family: Oswald; */
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #fff;
}
.header-content .btn{
    padding: .7rem 3rem;
    border: 1px solid #038f74;
    font-size: 1.2rem;
    color: white;
    background-color: #038f74;
    text-decoration: none;
    position: relative;
    top: 70px;
    font-weight: 400;
    border-radius: 5px;

}
.header-content .btn:hover{
    background-color: green;
}

/* footer */

footer{
    background-color: #ecebebac;
    border-top: 1px solid #ccccccab;
    padding: 3rem 0;
}

/* available-c */

.Available-c{
    margin: 40px 0 20px 0;
}
.Available-c .btn{
    padding: 1rem 2.5rem;
    border: 1px solid #666;
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: relative;

}
.Available-c h1{
    font-size: 2rem;
    padding: 1rem 0 3rem 0;
    font-family: Roboto;
    color: #313131d8;
    font-weight: 500;
    text-transform: capitalize;
}

/* courses */

.Courses .row{
    display: flex; 
    position: relative;
    width: 100%;
    left: 0; 
    right: 0%;
    gap: 1.1rem;
    flex-wrap: wrap;
    /* box-shadow: 0 0 20px 4px #333; */
}
.Courses h1{

    padding-bottom: 1rem;
    font-size: 3rem;
    font-family: Roboto;
    font-weight: 600;
    color: #1d3060;
}
.Courses h3{
    padding-bottom: 3rem;
    font-size: 1.5rem;
    color: #313131d8;
    font-family: 'Source Sans' ;
    line-height: 1.4em;
    font-weight: 400;
}
.Courses{
    margin: 130px 8rem;
}
.Courses .card{
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: .5rem 1.5rem;
    flex: 1 1 20rem;
    position: relative;
    /* display: block; */
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px -7px #333;
}
.Courses .card h2{
    font-size: 25px;
    padding: .8rem 0;
}
.Courses .card p{
    line-height: 1.7em;
}
.Courses>img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.card .btn{
    display: inline-block;
    width: 50%;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: #038f74;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin: 1rem;
}
.card .stars{
    padding: .4rem 0;
}
.btn:hover{
    background-color: red;
    color: #fff;
}


/* hero-2 */

.hero2{
    margin: 100px 0;
    background-color: #038f74;
    text-align: center;
    padding: 2rem 0;
}
.hero2 .row{
    display: flex; 
    justify-content: center;
}
.hero2 .numbers{
    padding: 2rem;
    color: #fff;
    border-right: 1px solid #ffffff88;
    

}
.hero2 h1{
    font-size: 3rem;
}
.hero2 p{
    font-size: 25px;
}

/* alumni */

.alumni{
    margin: 100px 100px;
}
.alumni .row{
    display: flex; 
    /* margin: 2rem; */
    justify-content: center;
}
.alumni .text{
    line-height: 1.8rem;
    width: 50%;
    padding: 1.5rem 2rem;
}
.text h2{
    padding: 1rem 0;
    font-size: 3rem;
    color: #1d3060;
}
.alumni .aside{
    width: 50%;
}
.alumni .aside>img{
    width: auto;
    height: 350px;
}
.alumni p{
    padding-top: 2rem;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
}

/* intructors */

.instructors{
    text-align: center;
    background-color: #038f74;
    padding: 2rem 0;
}
.instructors .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 11rem;
}
.instructors .image{
    padding: 2rem 0;
    flex: 1 1 20rem;
    /* margin-right: -3rem; */
    
}
.instructors .image>img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.instructors .name{
    display: inline-block;
    background-color: #fff;
    color: #ffffff;
    padding: 0rem 2rem;
    border-radius: 5px;
    width: 80%;
    margin-top: -1rem;
    
}
.instructors h1{
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-transform: capitalize;
    font-size: 2rem;
    
}
.instructors .name h2{
    color: rgb(32, 32, 32);
    padding: .2rem 0 .2rem 0;
    font-family: 'Source Sans';
    font-size: 22px;
    line-height: 1.3em;

}
.instructors .name p{
    color: #707070;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'Source Sans';
}
.instructors p{
    color: #f2f2f2;
    word-spacing: 1px;
    font-family: 'Source Sans';
    font-size: 23px;
    padding-bottom: 1.5rem;
}
/* testimonials */

/* .testimonials{
    margin: 100px 0;
} */

/* about-us */

.about-us{
    margin: 100px 0 0px 0;
    text-align: center;
    background-color: #038f74;
    padding: 3rem 2rem;
}
.about-us>div>p{
    color: #fff;
    margin: 0.5rem 5rem;
}
.about-us>div>img{
    width: 200px;
    height: auto;
}
.about-us .socials{
    display: block;
    margin-top: 4rem;
}



/* courses pages */

.courses-hero{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(1, 71, 38, 0.8)), url("images/diverse-friends-students-shoot.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    height: 70vh;
    align-content: center;
    font-family: sans-serif;
}

.body{
    text-align: center;
    color: #fff;
}
.body span{
    /* border: 1px solid; */
    background-color: rgba(245, 245, 245, 0.235);
    font-size: 1.1rem;
    line-height: 1.3em;
    padding: .5rem;
}
.body h1{
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.3em;
    padding: .5rem;
}
.body p{
    font-size: 1.3rem;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffffb4;
}
.courses-hero2{
    margin: 100px 0 0 0;
    background-color: #038f74;
    text-align: center;
    padding: 2rem 0;
}
.courses-hero2 .row{
    display: flex; 
    justify-content: center;
}
.courses-hero2 .numbers{
    padding: 2rem;
    color: #fff;
    border-right: 1px solid #ffffff88;
    

}
.courses-hero2 h1{
    font-size: 3rem;
}
.courses-hero2 p{
    font-size: 25px;
}

/* about us page */

.about-hero{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(1, 71, 38, 0.8)), url("images/diverse-friends-students-shoot.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    height: 80vh;
    align-content: center;
    font-family: sans-serif;
}
.about-body{
    padding: 0 2rem 0 7rem;
    /* font-size: 3.5rem; */
    color: white;
    text-align: left;
    width: 49%;
} 
.about-body h1{
    font-size: 4rem;
    line-height: 1em;
}
.about-body p{
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7em;
    color: rgba(245, 245, 245, 0.943);
    
}

.about-body .btn{
    display: block;
    width: 40%;
    margin-top: .8rem;
    text-decoration: none;
    color: #fff;
    padding: .8rem 1rem;
    background-color: #038F74;
}

.Extra-info{
    height: 35vh;
    background-color: #038F74;
    align-content: center;
}
.Extra-info .row{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 4rem;

}
.Extra-info .cards{
    /* width: 50%; */
    padding: 0 3rem;
    color: #fff;
}
.cards h1{
    padding-bottom: .5rem;
    line-height: 1.3em;
}
.cards p{
    font-size: 18px;
    color: #f6f6f6;
    font-family: 'Source Sans';
    line-height: 1.4em;
}
.cards box-icon{
    margin-bottom: 1.5rem;
}

.logos{
    height: 30vh;
}
.logos .row{
    display: flex;
    width: 100%;
    justify-content: center;
    opacity: 0.3;
}
.logos .row .img{
    padding: 1rem 7rem 1rem 1rem;
}
.logos img{
    height: 50px;
    width: 150px;
}

.about-info{
    margin: -10px 80px;
}
.about-info .row{
    display: flex;
    justify-content: center;
}
.about-info .row div{
    padding: 0 2rem;
    
}
.about-info .row img{
    width: 600px;
    height: 370px;
    object-fit: cover;
}
.about-info .row h3{
    font-size: 3.2rem;
    font-family: "Merriweather", serif;
    font-weight: 500;
    line-height: 45px;
    padding-bottom: 1.7rem;
}
.about-info .row p{
    font-size: 1.18rem;
    font-family: "Merriweather", serif;
    font-weight: 500;
    line-height: 1.2em;
    padding-bottom: 1.7rem;
    color: rgb(21, 21, 21);
    width: 85%;
}
.about-info .line{
    border-top: 1px solid black;
    display: flex;
    margin: 2% 40% 5% 25%;
    justify-content: center;

}
.about-info .row1{
    display: flex;
    margin: 0 0 0 -3rem;
    padding: 0;
}
.about-info .row1 .num h1{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #121212;
}
.about-info .row1 .num p{
    width: 100%;
    font-size: 13px;
}

.personal-inst{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.personal-inst h2{
    font-size: 3rem;
    font-family: "Merriweather", serif;
    color: #151515;
    font-weight: 500;
    padding: .5rem;
}
.personal-inst .stars{
    padding: .5rem;
}
.personal-inst p{
    display: block;
    padding: .5rem 31%;
    font-size: 19px; 
    font-family: 'Source Sans';
}
.personal-inst .btn{
    display: inline-block;
    width: 20%;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    justify-self: center;
    padding: .8rem 1rem;
    background-color: #038F74;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 5px;
    /* font-family: "Merriweather", serif; */
}

.personal-inst .row{
    display: flex;
    justify-content: center;
}
.personal-inst .row img{
    border-radius: 50%;
    padding: 0 .5rem;
    object-fit: cover;
}


.testi{
    margin: 100px 0 0 0;
    
    background-color: #cccccc1f;
}
.testi .row{
    display: flex;
    justify-content: center;
    margin: 0 40px;
    padding: 2rem 0;
}
.testi .row .text{
    padding: 0 4rem;
    border-right: 1px solid #cccccc9f;
    /* border-radius: 5px; */
    
}
.testi .row .text h1{
    font-family: "Merriweather", serif;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.testi .row .text .btn{
    display: block;
    /* width: 50%; */
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: .8rem 1rem;
    background-color: #038F74;
    font-size: .9rem;
    text-transform: capitalize;
    border-radius: 5px;
    /* font-family: "Merriweather", serif; */
}
.testi .row .text p{
    font-size: 1rem;
}
.testi .row .testi-aside{
    padding: 0 2rem;
    justify-content: center;
}
.testi .row .testi-aside p{
    padding-top: 1rem;
    text-align: center;
    color: #7a7a7a;
    width: 90%;
    line-height: 1.7em;
    font-size: 21px;
    font-family: 'Source Sans';
    font-weight: 300;
}
.testi .row .testi-aside img{
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
    left: 40%;
    top: 3%;
}
.testi .row .testi-aside h5{
    text-align: center;
    margin-top: 1.8rem;
    margin-left: -5rem;
    font-size: 1rem;
    font-style: italic;
    font-family: "Merriweather", serif;
    color: #6ec1e4;
}



/* contact us page */

.contact-hero{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(1, 71, 38, 0.9)), url("images/2150167219.jpg");
    background-size: cover;
    background-position: center 20%;
    /* background-attachment: fixed; */
    width: auto;
    height: 70vh;
    align-content: center;
    font-family: sans-serif;
}
.contact-body h1{
    font-size: 4.5rem;
    font-weight: 500;
}
.contact-body p{
    color: #ccc;
    font-size: 20px;
    font-family: 'Source Sans';
}

.contact-body{
    text-align: center;
    color: #fff;
}
.icons{
    display: block;
    margin-top: 2rem;
}

.contact-us .row{
    display: flex;
    justify-content: center;
}

.contact-us .info-box{
    text-align: center;
    background-color: rgb(15, 122, 72);
    padding: 2rem 4rem;
    margin: -35px 20px 0 80px;
    /* align-content: center; */
    width: 97%;
}
.info h4{
    color: #fff;
    font-size: 2.3rem;
    padding: .7rem 0;
    text-transform: capitalize;
    font-family:'Georgia';
    font-weight: 500;
}

.info p{
    color: #fff;
    font-size: 16px;
    padding: .7rem 0rem;
    line-height: 1.5em;
    font-family: 'Georgia';
}

.column{
    margin: 10px 90px 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px -7px;
}
.column h1{
    font-family: 'Source Sans';
    font-size: 2.5rem;
    color: #383838;
}
input[type="text"],
input[type="tel"],
input[type="email"]{
    display: block;
    padding: 1rem .5rem 2rem .5rem;
    align-content: start;
    width: 100%;
    margin: 2rem 0rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"]{
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    background-color: #038F74;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Source Sans';
    font-weight: 500;
}
textarea{
    font-size: 22px;
    font-family: 'Source Sans';
    width: 100%;
    height: 27vh;
    display: block;
    margin-bottom: 2rem;
    padding: 1rem .5rem 2rem .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
}
input::placeholder{
    font-size: 22px;
    color: #ccc;
    font-family: 'Source Sans';
}

.map{
    margin-top: 50px;
}
